<% layout("layouts/boilerplate") %>
<div class="alert alert-danger mt-3" role="alert">
 <h4 class="alert-heading"><%=err.message%></h4>
 <p><%=err.stack%></p>
 <a href="/listings" class="btn btn-primary">Back to Listings</a>
</div>
<!-- The error.ejs file is a view file that will be rendered when an error occurs in the application. It will display an error message with the error message and stack trace. It will also have a button that the user can click to go back to the listings page. The error message and stack trace will be passed to the view as variables. -->