<% layout("layouts/boilerplate") %>
<body>
    <!-- <form method="Get" action="/listings/new">
        <button type="submit">Create new Listing</button>
    </form> -->
    
    <h1>
       All Listings
    </h1>
    <div class="row row-cols-lg-4 row-col-md-3 row-cols-sm-1">
    <% for(listing of alllistings) {%>
        <a href="/listings/<%=listing.id%>" class="listing-link" >
            <div class="card col listing-card">
                <img class="card-img-top" src="<%=listing.image.url%>" alt="Card image cap" style="height: 20rem;">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text">
                   <b><%=listing.title%> </b> <br>
                   <%= Number(listing.price).toLocaleString("en-IN") %>

                </p>
                </div>
              </div>
        </a>
      <% } %>
    </div>
    
          
               
            
    
  

    
    
</body>
<!-- The index.ejs file is a view file that will be rendered when a user wants to view all the listings. It will display all the listings in a grid layout. Each listing will be displayed as a card with the image, title, and price of the listing. The user can click on a listing to view the details of the listing. The view will also have a button that the user can click to create a new listing. The view will display the image, title, and price of each listing. The view will also display the total number of listings. The view will display the listings in a grid layout with three columns on large screens, three columns on medium screens, and one column on small screens. -->
